<%= render partial: "title" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div>Change All : <%= select_tag "change_all_forder", options_for_select(@statuses.collect {|stat| [stat.name, stat.name]}, params[:status]) %></div>
          <br />
          <%= form_tag status_multiple_update_dashboard_index_path, method: :put do -%>
          <table class="datatable table table-striped table-hover responsive">
            <thead>
              <tr>
                <th class="sort-alpha">Status</th>
                <th class="sort-alpha">Title</th>
              </tr>
            </thead>
            <tbody>
              <% @forders.each do |forder| %>
              <tr>
                <td><%= select_tag "forder_detail[#{forder.id}]", options_for_select(@statuses.collect {|stat| [stat.name, stat.name]}, forder.status), class: "forder_detail_select"  %></td>
                <td><%= forder.title %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= hidden_field_tag "orig_action", params[:action] %>
          <%= hidden_field_tag "orig_status", params[:status] %>
          <%= submit_tag "Update Statuses", :class => 'btn btn-primary' %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>