<%= render partial: "title" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'shared/flash_messages' %>
          <table class="datatable table table-striped table-hover responsive">
            <thead>
              <tr>
                <th class="sort-alpha">Status</th>
                <th class="sort-alpha">Customer</th>
                <th class="sort-alpha">Address</th>
              </tr>
            </thead>
            <tbody>
              <% @jobs.each do |job| %>
              <tr>
                <td><%= select_tag "job_detail_#{job.id}", options_for_select(@statuses.collect {|stat| [stat.name, stat.name]}, job.status), class: "job_detail_select"  %></td>
                <td><%= job.customer.contact_info %></td>
                <td><%= job.address %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>