<h3>Dashboard Detail
  <small><%= params[:status] %> Status</small>
</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'shared/flash_messages' %>
          <table class="datatable table table-striped table-hover responsive">
            <thead>
              <tr>
                <th class="sort-alpha">Status</th>
                <th class="sort-alpha">Section</th>
                <th class="sort-alpha">Fabrication Order</th>
              </tr>
            </thead>
            <tbody>
              <% @sections.each do |sect| %>
              <tr>
                <td><%= select_tag "section_detail_#{sect.id}", options_for_select(@statuses.collect {|stat| [stat.name, stat.name]}, sect.status), class: "section_detail_select"  %></td>
                <td><%= sect.name %></td>
                <td><%= sect.product.room.fabrication_order.title %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>