<%= render partial: "title" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'shared/search_address', 
                      job_adresses: @job_adresses, 
                      action_search: sections_detail_dashboard_index_path(status: params[:status]) %>
          <br/>
          <div>Change All : <%= select_tag "change_all_section", options_for_select(@statuses.collect {|stat| [stat.name, stat.name]}, params[:status]) %></div>
          <br />
          <%= form_tag status_multiple_update_dashboard_index_path, method: :put do -%>
          <table class="datatable table table-striped table-hover responsive">
            <thead>
              <tr>
                <th class="sort-alpha">Status</th>
                <th class="sort-alpha">Material</th>
                <th class="sort-alpha">Address</th>
              </tr>
            </thead>
            <tbody>
              <% @sections.each do |sect| %>
              <tr>
                <td><%= select_tag "section_detail[#{sect.id}]", options_for_select(@statuses.collect {|stat| [stat.name, stat.name]}, sect.status), class: "section_detail_select"  %></td>
                <td><%= sect.name %></td>
                <td><%= sect.job_address %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= hidden_field_tag "orig_action", params[:action] %>
          <%= hidden_field_tag "orig_status", params[:status] %>
          <%= submit_tag "Update Statuses", :class => 'btn btn-primary' %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>