<h3>Working Logs
   <small>List of working logs raw data</small>
</h3>

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <%= render partial: "report_menu" %>
         <div class="panel panel-default">

            <div class="panel-body">
               <table class="datatable table table-striped table-hover responsive">
                  <thead>
                    <tr>
                                            <th class="sort-alpha">Name</th>
                                            <th class="sort-alpha">Time</th>
                                            <th class="sort-alpha">Method</th>
                                            <th class="sort-alpha">Checkin/Checkout</th>
                                            <th class="sort-alpha">Long/Lat</th>
                                            <th class="sort-alpha">Location</th>
                                            
                    </tr>
                  </thead>
                  <tbody>
                     
                     <% @working_logs.each do |working_log| %>
                        <tr>
                            <td><%= working_log.user.try(:full_name) %></td>
                            <td><%= working_log.readable_time %></td>
                            <td><%= working_log.submit_method %></td>
                            <td><%= working_log.checkin_or_checkout %></td>
                            <td><%= working_log.longitude %>,<%= working_log.latitude %></td>
                            <td><%= working_log.get_location %></td>
                        </tr>
                      <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

