<h3><%= @user.full_name %>'s Working Logs 
   <small><%= @week.titleize %> Detail Report</small>
</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: "report_menu" %>
      <div class="panel panel-default">
        <div class="panel-body">
            <%= render :partial => 'shared/flash_messages' %>
            <table class="datatable table table-striped table-hover responsive">
              <thead>
                <tr>
                  <th class="sort-alpha">Date</th>
                  <th class="sort-alpha">Start</th>
                  <th class="sort-alpha">Finish</th>
                  <th class="sort-alpha">Duration</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if @working_log_arr.size > 0 %>
                  <% @total_time = 0 %>
                  <% @working_log_arr.each do |wlog| %>
                    <tr <%= raw " class='manual-color'" if wlog[:status] == "manual" %>>
                      <td><%= wlog[:date] %></td>
                      <td class="<%= wlog[:checkin_method] %>-color"><%= wlog[:checkin] %></td>
                      <td class="<%= wlog[:checkout_method] %>-color"><%= wlog[:checkout] %></td>
                      <td><%= time_diff wlog[:duration] %></td> 
                      <td><%= link_to "Edit",edit_report_detail_working_logs_path(ids: wlog[:ids], user_id: wlog[:user_id], week: @week) %>&nbsp;&nbsp;
<%= link_to 'Delete',destroy_report_working_logs_path(ids: wlog[:ids], user_id: wlog[:user_id], week: @week), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this working log?' } %></td>
                      
                      
                    </tr>  
                    <% @total_time += wlog[:duration] %>
                  <% end %>
                  <tr>
                    <td colspan="3">Total :</td>
                    <td><%= time_diff @total_time %></td>
                  </tr>     
                <% else %>
                  <td colspan="4" align="center">Data is empty</td>
                <% end %>  
              </tbody>
            </table>  
        </div>     
      </div>
    </div>
  </div>
</div>        

<%= link_to 'Add Working Log',new_report_detail_working_logs_path(week: @week, user_id: @user.id),:class => 'btn btn-primary' %>