<% readonly ||= false %>

<!-- START row-->
<div class="row">
   <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <%= form_for @edge_type, :html => { :class => "edge_type", :role => 'form' } do |f| %>
              <% if @edge_type.errors.any? %>
              <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= pluralize(edge_type.errors.count, "error") %> prohibited this edge_type from being saved:</h3>
                </div>
                <div class="panel-body">
                  <ul>
                  <% @edge_type.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              </div>
              <% end %>

                                          <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, :class => 'form-control', id: :edge_type_name, :readonly => readonly %>
                </div>
                                      <div class="actions <%= 'hide' if readonly %>">
              <%= f.submit nil, :class => 'btn btn-primary' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      edge_types_path, :class => 'btn btn-default' %>
            </div>
          <% end %>
         </div>
      </div>
   </div>
</div>
