
<h3>Audit Info
   <small>List of Material, Task and Room audit</small>
</h3>
<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <%= render partial: "audit_menu" %>
         <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <div class="row actions-panel">
                <div class="col-xs-12 col-md-12">
                  <div class="btn-group">
                    <%= form_tag( audit_logs_path, method: :get, id: "filter-form" ) do |f| %>
                      <div data-toggle="buttons" class="btn-group">
                        <label class="btn btn-default <%= @filter_all ? 'active': '' %>">
                        <input type="radio" class="filter-button" name="filter" id='filter-all' value="all" <%= @filter_all ? 'checked="true"': '' %>>All</label>
                        <label class="btn btn-default <%= @filter_today ? 'active': '' %>">
                        <input type="radio" class="filter-button" name="filter" id='filter-today' value="today" <%= @filter_today ? 'checked="true"': '' %>>Today</label>
                        <label class="btn btn-default <%= @filter_yesterday ? 'active': '' %>">
                        <input type="radio" class="filter-button" name="filter" id='filter-yesterday' value="yesterday" <%= @filter_yesterday ? 'checked="true"': '' %>>Yesterday</label>
                        
                        <%= hidden_field_tag "category", params[:category] %>
                      </div>
                      <%= date_field("", "date", value: @selected_date, class: 'btn btn-default' ) %>
                      <%= link_to "Go", "#", {class: "btn btn-default filter-button"} %> <br /><br />
                      User : <%= select_tag "user", options_for_select(@users.collect {|user| user.full_name},params[:user]), include_blank: "All Users" %>
                      Address : <%= select_tag "address", options_for_select(@jobs.collect {|job| ["(#{job.id}) #{job.address}", job.id]},params[:address]), include_blank: "All" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <table class="datatable table table-striped table-hover responsive">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Time</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Item Name</th>
                </thead>
                <tbody>
                  <% @audit_logs.each do |alog| %>
                    <tr>
                      <td><%= alog.user_name %></td>
                      <td><%= alog.created_at %></td>
                      <td><%= alog.details %></td>
                      <td><%= alog.category %></td>
                      <td><%= alog.item_name %></td>
                    </tr>  
                  <% end %>   
                </tbody>
              </table>

            </div>
         </div>
      </div>
      
    </div>
</div>

<%= hidden_field_tag "today_str", Time.zone.now.strftime("%Y-%m-%d") %>
<%= hidden_field_tag "yesterday_str", (Time.zone.now - 1.day).strftime("%Y-%m-%d")  %>

