<!-- START row-->
<div class="row">
   <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
      <!-- START panel-->
      <div class="panel panel-default">
         <!--<div class="panel-heading">General Information</div>-->
         <div class="panel-body">
            <%= form_for @job, :html => { :multipart => true, :class => "job", :role => 'form' } do |f| %>

            <% if @job.errors.any? %>
              <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h3>
                </div>
                <div class="panel-body">
                  <ul>
                  <% @job.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <%= render :partial => 'shared/flash_messages' %>

            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :customer %>
                    <%= f.collection_select :customer_id, @customers, :id, :contact_info, { include_blank: false }, class: 'form-control select-bootstrap', :readonly => readonly  %>
                      <a id="create_customer_button" class="btn-link pointer"><i class="fa fa-plus"></i> New</a>
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :status %>
                    <%= f.collection_select :status, @statuses, :name, :name, { include_blank: false }, class: 'form-control select-bootstrap'  %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :notes %>
                    <%= f.text_area :notes, :class => 'form-control', :id => :notes, :readonly => readonly %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="comments-list">
                  <table class="table table-striped">
                    <tbody>
                      <% @job.comments.each do |comment| %>
                        <tr>
                          <td><span class="comment-date"><%= l(comment.created_at, format: :short) %></span>
                            <span class="comment-author"><%= comment.user.first_name %> </span>said:
                            <%= comment.body %>
                          </td>
                          <td align="right">
                            <% if current_user.id === comment.user_id %>
                              <a href="<%= job_comment_path(@job, comment) %>" class="btn" data-confirm="Are you sure you want to delete this Comment"
                                data-method="delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                              <% end %>
                          </td>
                        </tr>
                        <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="form-group">
                  <%= f.label "Address" %>
                    <!-- <%= check_box_tag :set_location, :set_location, true, :onclick => "BRAVURA.showLocationMap();" %> -->
                    <%= f.text_field :address, :class => 'form-control', :id => :address, :readonly => readonly %>
                      <%= f.hidden_field :longitude, :class => 'form-control', :id => :longitude, :readonly => readonly %>
                        <%= f.hidden_field :latitude, :class => 'form-control', :id => :latitude, :readonly => readonly %>
                </div>
                <div id="location_map">
                  <%= render :partial => 'shared/location_map',  locals: {readonly: readonly, hidemap: true, address_field_id: 'address' } %>
                </div>
                <div class="form-group">
                  <%= f.label "Apt#" %>
                    <%= f.text_field :address2, :class => 'form-control', :id => :address2, :readonly => readonly %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :price %>
                    <div class="input-group m-b">
                      <span class="input-group-addon">$</span>
                      <%= f.number_field :price, { class: 'form-control' } %>
                    </div>
                </div>

                <div class="form-group">
                  <%= f.label :deposit %>
                    <div class="input-group m-b">
                      <span class="input-group-addon">$</span>
                      <%= f.number_field :deposit, { class: 'form-control' } %>
                    </div>
                </div>
                <div class="form-group">
                  <%= f.label :balance %>
                    <div class="input-group m-b">
                      <span class="input-group-addon">$</span>
                      <%= f.number_field :balance, { class: 'form-control', readonly: true } %>
                    </div>
                </div>

                <div class="form-group">
                  <%= f.label :salesman %>
                    <%= f.collection_select :salesman_id, @employees, :id, :first_name, { include_blank: true }, class: 'form-control select-bootstrap'  %>
                </div>

              </div>
              <div class="col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :appointment %>
                  <%= f.datetime_field :appointment, class: 'form-control' , id: :appointment, :readonly => readonly %>
                  Confirmed: <%= f.check_box :confirmed_appointment %>
                </div>

                <div class="form-group">
                  <%= f.label :due_date %>
                  <%= date_field("job", "duedate", { class: 'form-control' } ) %>
                </div>

                <div class="form-group">
                  <div class="col-md-6">
                    Paid <%= f.check_box :paid, { class: 'form-control' } %>
                  </div>
                  <div class="col-md-6">
                    Active <%= f.check_box :active, { class: 'form-control' } %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :installer %>
                    <%= f.collection_select :installer_id, @employees, :id, :first_name, { include_blank: true }, class: 'form-control select-bootstrap'  %>
                </div>

              </div>
            </div>
            <div class="action-links <%= 'hide' if readonly %>">
              <%= f.submit nil, :class => 'btn btn-primary' %>
            </div>
            <% end %>
            <div class="row images <%= 'hide' unless @job.id %>">
              <div class="col-md-12">
                <h4 class="pointer" onclick="jQuery('#imagesContainer').toggleClass('hide');">Pictures</h4>
                <div class="hide" id="imagesContainer">
                  <div class="images-container" id="imageList">
                    <% @job.pictures.each do |picture| %>
                      <div class="image-container" id="job_picture_container_<%= picture.id %>">
                        <a href="<%= picture.image.url %>" target="_blank">
                          <%= image_tag picture.image.thumb.url, class: 'job-image' %>
                        </a>
                        <a href="<%= delete_image_path(@job.id, picture, format: :json) %>" class="btn trash delete_image" data-confirm="Are you sure you want to delete this Image"
                          data-method="delete" data-remote="true" data-id="<%= picture.id %>">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </div>
                      <% end %>
                  </div>
                  <form id="image-form" enctype="multipart/form-data">
                    <%= file_field :picture, :image, { multiple: false, class: 'form-control', id:'fileInput', accept: 'image/png,image/gif,image/jpeg' } %>
                    <img id="picture_preview" style="display: none;"></img>
                    <a class="btn btn-default" onclick="BRAVURA.uploadJobPictures(<%= @job.id %>)">Upload</a>
                  </form>
                </div>
              </div>
            </div>
            <% if @job.id && current_user.type_of_user.eql?("0") %>
            <div class="row">
              <div class="col-lg-12">
                <h4 class="pointer" onclick="jQuery('#auditLogs').toggleClass('hide');">Audit</h4>
                <%
                audit_log = ''
                @job.audit_logs.each do |log|
                  audit_log += "On #{l(log.created_at, format: :short)}: #{log.user_name} from #{log.where} (#{log.ip}) #{log.details} \n"
                end
                %>
                <textarea name="audit" id="auditLogs" rows="4" class="hide form-control" readonly><%= audit_log %> </textarea>
              </div>
            </div>
            <% end %>
          <div class="row">
            <div class="col-lg-12">
              <%= render :partial => 'comments',  locals: {readonly: readonly} if @job.id%>
            </div>
          </div>
         </div>
      </div>
   </div>
</div>
<%= render :partial => 'statusChangeModal' %>
<%= render :partial => 'shared/createCustomerModal' %>
