<%- model_class = Job -%>
<h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
   <small>List of existing jobs</small>
</h3>
<div class="container-fluid">
   <div class="row">
      <div id="jobListPanel" class="col-lg-12 no-padding">
         <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <div class="row actions-panel">
                <div class="col-xs-12 col-md-12">
                  <div class="btn-group">
                    <%= render :partial => 'shared/flash_messages' %>
                    <% if current_user.type_of_user.eql?("0") %>
                      <span>Only Active: </span>
                      <%= check_box_tag :show_active, :show_active, @show_active %>
                    <% end %>
                    <%= form_tag( jobs_path, method: :get, id: "filter-form" ) do |f| %>
                      <div data-toggle="buttons" class="btn-group">
                        <label class="btn btn-default <%= @filter_all ? 'active': '' %>">
                        <input type="radio" class="filter-button" name="filter" value="all" <%= @filter_all ? 'checked="true"': '' %>>All</label>
                        <label class="btn btn-default <%= @filter_today ? 'active': '' %>">
                        <input type="radio" class="filter-button" name="filter" value="today" <%= @filter_today ? 'checked="true"': '' %>>Today</label>
                        <label class="btn btn-default <%= @filter_tomorrow ? 'active': '' %>">
                        <input type="radio" class="filter-button" name="filter" value="tomorrow" <%= @filter_tomorrow ? 'checked="true"': '' %>>Tomorrow</label>
                        <label class="btn btn-default <%= @filter_nextweek ? 'active': '' %>">
                        <input type="radio" class="filter-button" name="filter" value="nextweek" <%= @filter_nextweek ? 'checked="true"': '' %>>Next Week</label>
                        <label class="btn btn-default <%= @filter_date ? 'active': '' %>">
                        <input type="radio" class="filter-button" name="filter" value="date" <%= @filter_date ? 'checked="true"': '' %>>Date</label>
                      </div>
                      <%= date_field("", "date", value: @selected_date, class: 'btn btn-default' ) %>
                      <%= link_to "Go", "#", {class: "btn btn-default filter-button"} %>
                    <% end %>
                  </div>
                </div>
              </div>
              <table class="datatable table table-striped table-hover responsive">
                <thead>
                  <tr>
                    <th class="sort-alpha">Date</th>
                    <th class="sort-alpha">Job</th>
                    <th class="sort-alpha">Customer</th>
                    <th class="sort-alpha">Job Status</th>
                    <th class="sort-alpha">FO Status</th>
                    <th class="no-sort">Sections Done</th>
                    <!-- <th class="no-sort">Actions</th> -->
                  </tr>
                </thead>
                <tbody>
                  <% if @jobs.nil? %>
                    <tr>
                      <td colspan="7">There are no jobs matching the criteria</td>
                    </tr>
                    <% else %>
                      <% @jobs.each do |job| %>
                        <tr onclick="location.href = '<%=job_path(job)%>'" class="pointer" >
                          <td>
                            <%= l(job.appointment, format: '%Y/%m/%d') if job.appointment %>
                          </td>
                          <td >
                            <span class="<%= 'confirmed' if job.confirmed_appointment %>">(<%= job.id %>) <%= job.address.nil? ? "empty" : job.address[0...30] %></span>
                          </td>
                          <td>
                            <%= "#{job.customer_firstname} #{job.customer_lastname} - #{job.customer_company_name}" %>
                          </td>
                          <td>
                            <%= job.status %>
                          </td>
                          <td>
                            <%= job.fo_status %>
                          </td>
                          <td>
                            <%
                            if job.fabrication_order
                              status = job.fabrication_order.sections_status
                              class_status = status[:done] ? 'green' : 'yellow'
                            %>
                              <span id="job-detail-<%= job.id %>" data-job-details="<%= job.fabrication_order.sections_to_json %>" class="job-detail-element <%= class_status %>"><%= "#{status[:ready]} of #{status[:total]}" %></span>
                              <% end %>
                          </td>
                        </tr>
                        <% end %>
                          <% end %>
                </tbody>
              </table>
               <%= link_to t('.new', :default => t("helpers.links.new")), new_job_path, :class => 'btn btn-primary' %>
            </div>
         </div>
      </div>
    </div>
</div>
<%= render :partial => 'product_detail' %>
