<h3>Section Detail
<small>List of Product Sections for Job</small>
</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <small></small>
        </div>
        <div class="panel-body">
          <% if @job.fabrication_order %>
          <table class="datatable table table-striped table-hover responsive">
            <thead>
              <th></th>            
              <% @job.products_group.each_with_index do |arr_prod,idx| %>  
                <% 1.upto(arr_prod[:max_col]) do |idx2| %>         
                  <th class="<%= column_color(idx+1) %>"><%= (idx2 == 1) ? "#{arr_prod[:name]}" : "" %></th>
                <% end %>  
              <% end %>    
            </thead>
            <tbody>
              <% @job.product_detail.each do |row| %>
                <tr>
                  <% row.each do |val| %>
                    <td class="<%= column_color(val[:prod_count]) %>"><%= select_tag "Section",options_for_select([val[:content]) %></td>
                  <% end %>  
                </tr>
              <% end %> 
            </tbody>
          </table> 
  
          <% end %>          
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "product_detail_modal" %>
