<% readonly ||= false %>

<!-- START row-->
<div class="row" id="r_product_section_<%= product_section.id %>">
   <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading"></div>
         <div class="panel-body">

            <%= form_for product_section, :html => { :class => "product_section form-horizontal", :role => 'form', remote: ajax } do |f| %>
              <% if product_section.errors.any? %>
                <div id="error_expl" class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= pluralize(product_section.errors.count, "error") %> prohibited this product_section from being saved:</h3>
                  </div>
                  <div class="panel-body">
                    <ul>
                    <% product_section.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                </div>
                <% end %>
                <%= render :partial => 'shared/flash_messages' %>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= product_section.name %></label> </br>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                   <label class="col-sm-2 control-label">Size</label>
                   <div class="col-sm-8">
                      <div class="row">
                         <div class="col-sm-2">
                            <%= hidden_field_tag :scroll, params[:scroll] %>
                            <%= hidden_field_tag :seam_id, @seam_id %>
                            <%= f.hidden_field :id , id: "product_section_id_#{product_section.id}", class: "product_section_id"%>
                            <%= f.number_field :size_a, maxlength: "4", size: "4", min:"1", max: "9999", :class => "form-control input-sm change-size product_section_size_a_#{f.object.id}", id: "product_section_size_a_#{f.object.id}", data: {id: f.object.id}, required: true, placeholder: 'width', :readonly => readonly %>
                         </div>
                         <div class="col-sm-2">
                            <%= f.select :fraction_size_a, options_for_select(FRACTION_TYPE, f.object.fraction_size_a) , {include_blank: true} ,{:class => "form-control m-b select-bootstrap"}%>
                         </div>
                         <div class="col-sm-2">
                            <%= f.number_field :size_b, maxlength: "4", size: "4", min:"1", max: "9999", :class => "form-control input-sm change-size product_section_size_b_#{f.object.id}", id: "product_section_size_b_#{f.object.id}", data: {id: f.object.id}, required: true, placeholder: 'height', :readonly => readonly %>
                         </div>
                         <div class="col-sm-2">
                            <%= f.select :fraction_size_b, options_for_select(FRACTION_TYPE, f.object.fraction_size_a) , {include_blank: true} ,{:class => "form-control m-b select-bootstrap"}%>
                         </div>
                      </div>
                   </div>
                </div>
             </fieldset>
              <fieldset>
                <div class="form-group">
                   <label class="col-sm-2 control-label">Size Type</label>
                   <div class="col-sm-3">
                      <%= f.select :size_type, options_for_select(SIZE_TYPE, f.object.size_type), {include_blank: "-Size Type-"}, {class: "form-control m-b select-bootstrap product_section_size_type_#{f.object.id}", id: "product_section_size_type_#{f.object.id}", data: {id: f.object.id}} %>
                   </div>
                </div>
             </fieldset>
             <fieldset>
                <div class="form-group">
                   <label class="col-sm-2 control-label">Set PL to All</label>
                   <div class="col-sm-8">
                      <div class="row">
                         <div class="col-sm-2">
                            <%= f.check_box :set_pl , val: @edge_pl_val, id: "set_pl_#{f.object.id}", data: {id: f.object.id} %>
                         </div>
                      </div>
                   </div>
                </div>
             </fieldset>
             <fieldset>
               <div class="form-group">
                 <label class="col-sm-2 control-label"></label>
                 <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-3">
                      </div>
                      <div class="col-sm-6">
                        <div class="col-sm-6 col-centered">
                          <div>
                          <%= f.select :edge_type_a_id, options_for_select(@edge_type, f.object.edge_type_a_id) , {include_blank: "-Edge A-"} ,{:required => true, :class => "e_product_section_id_#{f.object.id} product_section_edge_type_a_id_#{f.object.id} form-control m-b select-bootstrap", id: "product_section_edge_type_a_id_#{f.object.id}"}%>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3 height_canvas">
                        <div>
                        <%= f.select :edge_type_d_id, options_for_select(@edge_type, f.object.edge_type_d_id) , {include_blank: "-Edge D-"} ,{:required => true, :class => "e_product_section_id_#{f.object.id} product_section_edge_type_d_id_#{f.object.id} form-control m-b select-bootstrap", id: "product_section_edge_type_d_id_#{f.object.id}"}%>
                        </div>
                      </div>
                      <div class="col-sm-6 center" >
                        <div class="wrapper-canvas" id="wrapper-canvas-<%= f.object.id %>">
                          <canvas id="canvas-<%= f.object.id %>">
                            <img  width="200" height="200" src="https://user-images.githubusercontent.com/116856/33920682-36c309e8-dffa-11e7-8979-7da6f97df992.jpg"/>
                          </canvas>
                        </div>
                      </div>
                      <div class="col-sm-3 height_canvas">
                        <div>
                        <%= f.select :edge_type_b_id, options_for_select(@edge_type, f.object.edge_type_b_id) , {include_blank: "-Edge B-"} ,{:required => true, :class => "e_product_section_id_#{f.object.id} product_section_edge_type_b_id_#{f.object.id} form-control m-b select-bootstrap", id: "product_section_edge_type_b_id_#{f.object.id}"}%>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                      </div>
                      <div class="col-sm-6">
                        <div class="col-sm-6 col-centered">
                          <div>
                          <%= f.select :edge_type_c_id, options_for_select(@edge_type, f.object.edge_type_c_id) , {include_blank: "-Edge C-"} ,{:required => true, :class => "e_product_section_id_#{f.object.id} product_section_edge_type_c_id_#{f.object.id} form-control m-b select-bootstrap", id: "product_section_edge_type_c_id_#{f.object.id}"}%>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                      </div>
                    </div>
                 </div>
               </div>
             </fieldset>
             <fieldset>
               <div class="actions <%= 'hide' if readonly %>">
                  <%= f.submit nil, :class => 'btn btn-primary' %>
                  <% if params[:fabrication_order_id] %>
                    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                       edit_fabrication_order_path(params[:fabrication_order_id]), :class => 'btn btn-default' unless ajax %>
                  <% end %>
                </div>
             </fieldset>
            <% end %>

         </div>
      </div>
   </div>
</div>
