<% if @product_section.valid? %>
  $('#materialModal').modal('hide');
  $('#name-section-<%= @product_section.id %>').html('<%= @product_section.name_size %>');
  alert("Material <%= @product_section.name %> is successfully updated");
  var el = document.getElementById('r_product_section_<%= @product_section.id %>');
  el.style.display = 'none';
  var notice = document.getElementById('size_index_notice');
  notice.innerHTML = "Material <%= @product_section.name %> is successfully updated";
  notice.style.display = 'block';
  
<% else %>
  if($('#product_section_status').length){
    $('#product_section_status').addClass("parsley-error");
    $( "<label class='error'><i style='color: #f05050'> <%= @product_section.errors.full_messages.join(' ') %> </i></p>" ).insertAfter($('#product_section_status'));
  }else{
    $('#product_section_size_a').attr('required', true);
    $('#product_section_size_b').attr('required', true);
    $('#product_section_edge_type_a_id').attr('required', true);
    $('#product_section_edge_type_b_id').attr('required', true);
    $('#product_section_edge_type_c_id').attr('required', true);
    $('#product_section_edge_type_d_id').attr('required', true);
    
    $('form[id^=edit_product_section_]').submit();
  }

<% end %>