<% readonly ||= false %>

<!-- START row-->
<div class="row">
   <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
      <!-- START panel-->

      <div class="panel panel-default">
         <div class="panel-heading job">Fabrication Order # <%= @fabrication_order.job.id if @fabrication_order.job %>
            <small><%= l(@fabrication_order.created_at, format: :short) if @fabrication_order.created_at %></small>
             <%= link_to("View Job", select_job_path(@fabrication_order.job), :class => 'btn btn-default') %>
        </div>
         <div class="panel-body">
            <%= form_for @fabrication_order, :html => { :class => "fabrication_order", :role => 'form' } do |f| %>
              <% if @fabrication_order.errors.any? %>
              <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= pluralize(fabrication_order.errors.count, "error") %> prohibited this fabrication_order from being saved:</h3>
                </div>
                <div class="panel-body">
                  <ul>
                  <% @fabrication_order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              </div>
              <% end %>
              <%= render :partial => 'shared/flash_messages' %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, :class => 'form-control', id: :fabrication_order_title, :readonly => readonly %>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <div class="form-group">
                    <%= f.label :status %>
                    <%= f.collection_select :status, @statuses, :name, :name, { include_blank: false }, class: 'form-control select-bootstrap'  %>
                  </div> -->
                </div>
              </div>
              <% if @fabrication_order.id%>
              <div class="row roomsPanel">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      Products<small></small>
                    </div>
                    <div class="panel-body">
                      <%= link_to '+ New Product','#', :class => 'btn btn-primary', :id => 'newProductButton'%>
                      <%= link_to '+ Clone From Master','#', :class => 'btn btn-primary', :id => 'cloneMasterButton'%> <%= next_room %>
                      <%= link_to 'Print','#', :class => 'btn btn-primary', :id => 'printProduct', style: "float: right;"%>
                      <% if  @fabrication_order.rooms && @fabrication_order.rooms.size > 0 %>
                      <table class="table table-striped table-hover responsive" id="productsList">
                          <thead>
                            <tr>
                              <th class="sort-alpha">Master</th>
                              <th class="sort-alpha">Room</th>
                              <th class="sort-alpha">Name</th>
                              <th class="sort-alpha"># Products / Sections</th>
                              <th class="no-sort">Status</th>
                              <th class="no-sort">Actions</th>
                              <th class="no-sort"><%= check_box_tag "cb_product_all" %></th>
                            </tr>
                          </thead>
                          <tbody>
                              <% @fabrication_order.sorting_rooms.each do |room| %>
                                <% @checked = room.id.to_s == params[:new_room_id] ? true : false %>
                                <tr>
                                  <td><%= master_formatting(room) %></td>
                                <% if room.products.count && room.products.count > 0 %>
                                  <td><em class="fa fa-minus pointer" id="room_<%= room.id %>"
                                  onclick="BRAVURA.toggleProductSections(this, 'room_<%= room.id %>')" ></em> <%= room.name %></td>
                                <% else %>
                                  <td><%= room.name %></td>
                                <% end %>
                                <td></td>
                                <td><%= room.products.count %></td>
                                <td>
                                  <%= collection_select :room, :status, @room_statuses, :name, :name,
                                  { selected: room.status } , { class: 'form-control', :data => { :remote => true, :url => room_path(room, format: :json), method: :put} }%>
                                </td>
                                <td>
                                  <%= link_to 'Barcode', r_orders_barcode_path(room), target: "_blank", :class => 'btn btn-default btn-xs' %> 
                                  <%# link_to 'Print', r_orders_qr_path(room), target: "_blank", :class => 'btn btn-default btn-xs' %>
                                  <a href="<%= edit_fabrication_order_room_path(@fabrication_order, room) %>" class="btn btn-default btn-xs">Edit</a>
                                  <a href="<%= fabrication_order_room_path(@fabrication_order, room) %>" class="btn btn-default btn-xs" data-confirm="Are you sure you want to delete this Room?" data-method="delete">Delete</a>
                                  <!--<a href="<%= fabrication_order_room_path(@fabrication_order, room) %>" class="btn btn-default btn-xs" data-confirm="Are you sure you want to delete this Room?" data-method="delete">Clone</a> -->
                                </td>
                                <td><%= check_box_tag "room-#{room.id}","1", @checked, class: "master-room cb-room-#{room.id}" %></td>
                                </tr>
                                
                                <% room.products.order("name asc").each do |product| %>
                                  <% @checked = (room.id.to_s == params[:new_room_id] or product.id.to_s == params[:new_product_id]) ? true : false %>
                                  <tr class="" data-parent="room_<%= room.id %>">
                                    <td></td>
                                    <td></td>
                                    <% if product.product_sections.count && product.product_sections.count  > 0 %>
                                    <td>
                                      <em class="fa fa-minus pointer" id="room_<%= room.id %>"
                                  onclick="BRAVURA.toggleProductSections(this, 'product_<%= product.id %>')" ></em>
                                  <%= product.name %> (<%= product.product_type.name %>)</td>
                                    <% else %>
                                    <td><%= product.name %> (<%= product.product_type.name %>)</td>
                                    <% end %>
                                    <td><%= product.product_sections.count %></td>
                                    <td>
                                      <%= collection_select :product, :status, @task_statuses, :name, :name,
                                      { selected: product.status } , { class: 'form-control', :data => { :remote => true, :url => product_path(product, format: :json), method: :put} }%>
                                    </td>
                                    <td>
                                      <%= link_to 'Barcode', p_orders_barcode_path(product), target: "_blank", :class => 'btn btn-default btn-xs' %> 
                                      <%# link_to 'Print', p_orders_qr_path(product), target: "_blank", :class => 'btn btn-default btn-xs' %>
                                      <a href="<%= edit_fabrication_order_room_product_path(@fabrication_order, room, product) %>" class="btn btn-default btn-xs">Edit</a>
                                      <a href="<%= fabrication_order_room_product_path(@fabrication_order, room, product) %>"
                                        class="btn btn-default btn-xs" data-confirm="Are you sure you want to delete this Product?" data-method="delete">Delete</a>
                                    </td>
                                    <td><%= check_box_tag "product-#{product.id}","1", @checked, class: "master-product cb-room-#{room.id} cb-product-#{product.id}" %></td>
                                  </tr>
                                   <% product.product_sections.order("name asc").each do |section| %>
                                    <tr class="" data-parent="product_<%= product.id %>">
                                      <td></td>
                                      <td></td>
                                      <td><%= section.name %></td>
                                      <td></td>
                                      <td>
                                        <%= collection_select :product_section, :status, @product_statuses, :name, :name,
                                        { selected: section.status } , { class: 'form-control', :data => { :remote => true, :url => product_section_path(section.id, format: :json), :method => :put } }%>
                                      </td>
                                      <td>
                                        <%= link_to 'Barcode', s_orders_barcode_path(section), target: "_blank", :class => 'btn btn-default btn-xs' %>
                                        <%# link_to 'Print', s_orders_qr_path(section), target: "_blank", :class => 'btn btn-default btn-xs' %>
                                        <a href="<%= edit_fabrication_order_room_product_product_section_path(@fabrication_order, room, product, section) %>" class="btn btn-default btn-xs">Edit</a>
                                        <a href="<%= fabrication_order_room_product_product_section_path(@fabrication_order, room, product, section) %>" class="btn btn-default btn-xs"
                                          data-confirm="Are you sure you want to delete this Product Section?" data-method="delete">Delete</a>
                                      </td>
                                      <td><%= check_box_tag "section-#{section.id}","1", @checked, class: "master-section cb-room-#{room.id} cb-product-#{product.id}" %></td>
                                    </tr>
                                  <% end %>
                                <% end %>
                              <% end %>
                          </tbody>
                      </table>
                      <% else %>
                      <p>There are no products associated to this order, click New Product to create one.</p>
                      <% end %>
                      <%= link_to '+ New Product','#', :class => 'btn btn-primary', :id => 'newProductButton' if (@fabrication_order.rooms && @fabrication_order.rooms.size > 2)%>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <div class="actions <%= '' if readonly %>">
                <%= f.submit nil, :class => 'btn btn-primary' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        fabrication_orders_path, :class => 'btn btn-default' %>
              </div>
          <% end %>
         </div>
      </div>
   </div>
</div>
<%= render :partial => 'createEditProductModal' %>
<%= render :partial => 'cloneMasterModal' %>

<%= form_tag barcodes_print_product_sections_path, method: :post, id: "form_prints_product", target: "_blank" do -%>
  <%= hidden_field_tag "ids" %>
<% end -%>
