<% readonly ||= false %>

<!-- START row-->
<div class="row">
   <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
      <!-- START panel-->

      <div class="panel panel-default">
         <div class="panel-heading job">Fabrication Order # <%= @fabrication_order.job.id if @fabrication_order.job %>
            <small><%= l(@fabrication_order.created_at, format: :short) if @fabrication_order.created_at %></small>
             <%= link_to("View Job", select_job_path(@fabrication_order.job), :class => 'btn btn-default') %>
        </div>
         <div class="panel-body">
            <%= form_for @fabrication_order, :html => { :class => "fabrication_order", :role => 'form' } do |f| %>
              <% if @fabrication_order.errors.any? %>
              <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= pluralize(fabrication_order.errors.count, "error") %> prohibited this fabrication_order from being saved:</h3>
                </div>
                <div class="panel-body">
                  <ul>
                  <% @fabrication_order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              </div>
              <% end %>
              <%= render :partial => 'shared/flash_messages' %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, :class => 'form-control', id: :fabrication_order_title, :readonly => readonly %>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <div class="form-group">
                    <%= f.label :status %>
                    <%= f.collection_select :status, @statuses, :name, :name, { include_blank: false }, class: 'form-control select-bootstrap'  %>
                  </div> -->
                </div>
              </div>
              <% if @fabrication_order.id%>
              <div class="row roomsPanel">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      Products<small></small>
                    </div>
                    <div class="panel-body">
                      <%= link_to '+ New Product', new_product_fabrication_order_path(@fabrication_order.id), :class => 'btn btn-primary'%>
                      <%= link_to '+ Clone From Master','#', :class => 'btn btn-primary cloneMasterButton'%> <%= raw next_room %>
                      <%= link_to 'Print','#', :class => 'btn btn-primary printProduct', :id => 'printProduct', style: "float: right;"%>
                      </br></br>
                      <% if  @fabrication_order.rooms && @fabrication_order.rooms.size > 0 %>
                      <table class="datatable table table-hover responsive" id="productsList">
                          <thead>
                            <tr>
                              <th class="sort-alpha">Master</th>
                              <th class="sort-alpha">Room </th>
                              <th class="sort-alpha">Name</th>
                              <th class="sort-alpha"># Products / Sections</th>
                              <th class="no-sort">Status</th>
                              <th class="no-sort">Actions</th>
                              <th class="no-sort"><%= check_box_tag "cb_product_all" %></th>
                            </tr>
                          </thead>
                          <tbody>
                            <%= render partial: "room",
                                       collection: @fabrication_order.sorting_rooms %>
                          </tbody>
                      </table>
                      <!-- <span> Room Amount <%# @fabrication_order.sorting_rooms.size %></span> -->
                      <% else %>
                      <p>There are no products associated to this order, click New Product to create one.</p>
                      <% end %>
                      <%= link_to '+ New Product', new_product_fabrication_order_path(@fabrication_order.id), :class => 'btn btn-primary' if (@fabrication_order.rooms && @fabrication_order.rooms.size > 2)%>
                      <%= link_to '+ Clone From Master','#', :class => 'btn btn-primary cloneMasterButton'%> <%= raw next_room %>
                      <%= link_to 'Print','#', :class => 'btn btn-primary printProduct', :id => 'printProduct', style: "float: right;"%>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <div class="actions <%= '' if readonly %>">
                <%= f.submit nil, :class => 'btn btn-primary' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        fabrication_orders_path, :class => 'btn btn-default' %>
              </div>
          <% end %>
         </div>
      </div>
   </div>
</div>
<%= render :partial => 'createEditProductModal' %>
<%= render :partial => 'cloneMasterModal' %>
<div id="modal_container"></div>
<%= form_tag barcodes_print_product_sections_path, method: :post, id: "form_prints_product", target: "_blank" do -%>
  <%= hidden_field_tag "ids" %>
<% end -%>
