<div id="map-filters" class="row filter-container">
  <div class="col-md-8">
    <%= form_tag( map_index_path, {id: 'form-map', class: 'form-inline', method: 'get'}) do -%>
      <div class="form-group">
        <div class="checkbox c-checkbox">
          <label>
            <input type="checkbox" name="show_all" id="show_all" <%= "checked" if @show_all %>/>
            <span class="fa fa-check"></span>All
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox c-checkbox">
          <label>
            <input class="bj-filter-map" type="checkbox" name="show_tasks" id="show_tasks" <%= "checked" if @show_tasks %>/>
            <span class="fa fa-check"></span>Show Tasks
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox c-checkbox">
          <label>
            <input class="bj-filter-map" type="checkbox" name="show_jobs" id="show_jobs" <%= "checked" if @show_jobs %> />
            <span class="fa fa-check"></span>Show Jobs
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox c-checkbox">
          <label>
            <input class="bj-filter-map" type="checkbox" name="show_workers" id="show_workers" <%= "checked" if @show_workers %> />
            <span class="fa fa-check"></span>Show Workers
          </label>
        </div>
      </div>
      <div class="form-group">
        <%= date_field("", "date", value: (@show_all ? nil : @selected_date), data: {today: Time.zone.now.strftime("%Y-%m-%d") },class: 'btn btn-default' ) %>
      </div>
      <%= submit_tag 'Filter', :class => 'btn btn-primary' %>
    <% end -%>
  </div>
  <div class="col-md-1 center">
    Job: <br/><%= image_tag  "/assets/mapicons/job.png" %>
  </div>
  <div class="col-md-1 center">
    Confirmed: <br/><%= image_tag  "/assets/mapicons/confirmed_appointment.png" %>
  </div>
  <div class="col-md-1 center">
    Task: <br/><%= image_tag  "/assets/mapicons/task.png" %>
  </div>
  <div class="col-md-1 center">
    Worker: <br/><%= image_tag  "/assets/mapicons/worker.png" %>
  </div>
</div>
<div id="map" class="full-map">
  <%= render :partial => 'shared/location_map', :locals => {hidemap: false, address_field_id: 'address'} %>
</div>
